<!--GIving a value to the variable-->
<%  @title="Contact" %>


<!--THis is in case that the user wants to contact us-->

 <form action="http://www.example.com/bookings/" method="post" >
  <label for="Datet">Date:</label> 
  </br>
  <input type="date" name="Date" />
  </br> </br>
  <input type="email" name="depart" placeholder="Enter your email" />

  <p>What is your question about?</p>
  <input type="radio" name="Question" value="Page"/>The page
  <input type="radio" name="Question" value="Events"/>The events
  <input type="radio" name="Question" value="Other"/>Other

   <p>Leave us your comments:</p>
   <textarea name='comment' id='comment' placeholder="Write comment here..."></textarea><br />
   <input type='hidden' name='articleid' id='articleid' value='article' />
   <input type='submit' value='Submit' />  
 </form>

</div>

