<head>
<title>Events</title>
</head>
<div id="header">
	<nav>
		<ul>
			<li> <a href="http://localhost:3000/Help"> Help </a></li>
			<li> <a href="http://localhost:3000/Contact"> Contact </a></li>
			<li> <a href="http://localhost:3000/Events">Events</a> </li>
			<li> <a href="http://localhost:3000/Home"> Home </a></li>
		</ul>
	</nav>
	<h1>Events</h1>
</div>
