<head>
<title>Help</title>
</head>
<nav>
	<ul>
		<li> <a href="http://localhost:3000/Help"> Help </a></li>
		<li> <a href="http://localhost:3000/Contact"> Contact </a></li>
		<li> <a href="http://localhost:3000/Events"> Events </li>
		<li> <a href="http://localhost:3000"> Home </a> </li>
	</ul>
</nav>
	<h1>Help</h1>


