<!--Html para esta pagina en paticular-->
<head>
<title>Home</title>
</head>
<div id="header">
	<nav>
		<ul>
			<li> <a href="http://localhost:3000/Help"> Help </a></li>
			<li> <a href="http://localhost:3000/Contact"> Contact </a></li>
			<li> Events </li>
			<li> Home </li>
		</ul>
	</nav>
	<h1>Home</h1>
</div>


<p>Find me in app/views/pages/Home.html.erb</p>
<h1> Esta sera la pagina principal de Carpool!!! </h1>
<a href="https://github.com/alexelmtz/Carpool"> 
	<p> <font color="green"> Github repository </font> </p>
</a>