<!--Html para esta pagina en paticular-->
<!--GIving a value to the variable-->
<%  @title="Home" %>

<p>Find me in app/views/pages/Home.html.erb</p>
<h1> Esta sera la pagina principal de Carpool!!! </h1>
<a href="https://github.com/alexelmtz/Carpool"> 
	<p> <font color="green"> Github repository </font> </p>
</a>

